  @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #34350c;
}

.saat {
    font-size: 100px;
    color: white;
    font-family: 'Comic Neue', cursive;
}
